.pl-gallery-container{
    position: relative;
    width: 1000px;
    min-height: 300px;
    margin: 0 auto;
    //border: 3px solid slategray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    background: #ffffff;
    -webkit-box-shadow: 10px 10px 8px #c7c7c7;
    -moz-box-shadow: 10px 10px 8px #c7c7c7;
    box-shadow: 10px 10px 8px #c7c7c7;
    .gallery-content{
        padding: 5px 0 0 5px;
        cursor: pointer;
    }
    .gallery-left-btn, .gallery-right-btn{
        position: absolute;
        width: 60px;
        height: 60px;
        line-height: 60px;
        top: 50%;
        z-index: 1;
        margin-top: -30px;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        background-color: #112233;
        opacity: 0.6;
        cursor: pointer;
    }
    .gallery-right-btn{
        right: 0;
    }
}
.gallery-page-info{
    width: 1000px;
    height: 40px;
    margin: 20px auto;
    font-size: 14px;
    text-align: right;
}