<div class="menu" ng-if="menu.type==='list' && main.isHigherSuper">
    <title-bar title-name="系统菜单管理" show-search="false"></title-bar>
    <div ng-if="menu.param <= 0">
        <label class="tip-text">查看</label>
        <select class="menu-type" ng-model="menu.userType" name="userType"
                ng-change="menu.changeMenuList(menu.userType);" required>
            <option value="-100" selected="selected">超级管理员</option>
            <option value="-200">管理员</option>
            <option value="-400">酒店管理员</option>
            <option value="-300">普通用户</option>
        </select>
        <label class="tip-text">下的菜单</label>
    </div>
    <a class="back-btn link-btn" ng-if="menu.type==='list' && menu.param > 0" ng-click="menu.backListView();">返回</a>
    <div class="gird-wrap">
        <table class="pl-table">
            <tbody>
            <tr class="title-tr">
                <td class="w5">序号</td><td class="w20">菜单名称</td><td class="w20">英文名</td>
                <td class="w8">菜单顺序号</td><td class="w20">菜单路径</td><td class="w20">操作</td>
            </tr>
            <tr ng-repeat="item in menu.menuList">
                <td class="w5" ng-bind="$index+1"></td><td class="w20" ng-bind="item.nameCn"></td>
                <td ng-bind="item.nameEn"></td><td ng-bind="item.orderNum"></td><td ng-bind="item.target"></td>
                <td class="operate-btn">
                    <a class="link-btn" ng-if="menu.param <= 0" ng-href="#/menu/list/{{item.id}}">查看子菜单</a>
                    <a class="link-btn" ng-href="#/menu/modify/{{item.id}}">编辑</a>
                    <a class="link-btn" ng-click="menu.deleteMenu(item);">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <paging-bar page-action="menu.getMenuList(param);" paging-param="menu.pagingParam" total-page="menu.totalPage"
                    is-show-add-btn="true" add-list-item="menu.goAddMenu();"></paging-bar>
    </div>
</div>
<div class="menu" ng-if="menu.type!=='list' && main.isHigherSuper">
    <title-bar title-name="添加系统菜单信息" ng-if="menu.type==='add'" show-search="false"></title-bar>
    <title-bar title-name="修改系统菜单信息" ng-if="menu.type==='modify'" show-search="false"></title-bar>
    <form name="menuForm" class="pl-form menu-form">
        <div class="form-item">
            <label class="form-key">菜单名称:</label>
            <input class="form-value" name="nameCn" type="text" ng-model="menu.curMenu.nameCn" required/>
            <span class="valid-msg" ng-show="menu.isSubmit && menuForm.nameCn.$invalid">请输入菜单名称</span>
        </div>
        <div class="form-item">
            <label class="form-key">英文名:</label>
            <input class="form-value" name="nameEn" type="text" ng-model="menu.curMenu.nameEn"
                   ng-pattern="/^([a-zA-Z]|\s)*[a-zA-Z]+([a-zA-Z]|\s)*$/" required/>
            <span class="valid-msg" ng-show="menu.isSubmit && menuForm.nameEn.$invalid">请输入正确的英文名称</span>
        </div>
        <div class="form-item">
            <label class="form-key">菜单顺序号:</label>
            <input class="form-value" name="orderNum" type="text" ng-model="menu.curMenu.orderNum"
                   ng-blur="menu.checkMenuOrderRepeat(menu.curMenu.orderNum)" ng-pattern="/^\d+$/" required/>
            <span class="valid-msg" ng-show="menu.isOrderNumRepeat">此顺序号已存在请重新输入!</span>
            <span class="valid-msg" ng-show="menu.isSubmit && menuForm.orderNum.$invalid">请输入顺序号，正整数</span>
        </div>
        <div class="form-item" ng-if="menu.param > 0">
            <label class="form-key">菜单路径:</label>
            <input class="form-value" name="target" type="text" ng-model="menu.curMenu.target" ng-maxlength="90" required/>
            <span class="valid-msg" ng-show="menu.isSubmit && menuForm.target.$invalid">请输入菜单路径,最多90字符!</span>
        </div>
        <div class="operate-btn-area">
            <div class="operate-btn blue-btn"
                 ng-click="menu.saveMenu(menuForm.$valid, menu.curMenu);">确定</div>
            <div class="operate-btn gray-btn" ng-click="menu.backListView();">返回</div>
        </div>
    </form>
</div>