<div class="moni" ng-if="main.isSuper && moni.type==='list'">
    <div class="list-search-area">
        <select class="search-select" ng-model="moni.hotelName" ng-change="moni.changeMonitorList();"
                ng-options="s.id.toString() as s.nameCn for s in moni.brandList">
            <option value="" selected="selected">全部品牌</option>
        </select>
    </div>
    <title-bar title-name="监控管理" show-search="true" search-place-holder="输入酒店名称"
               search-handler="moni.changeMonitorList(content);"></title-bar>
    <table class="pl-table" tip>
        <tbody>
        <tr class="title-tr">
            <td class="w5">序号</td><td class="w8">酒店品牌</td><td class="w15">酒店名称</td><td class="w15">酒店电话</td>
            <td class="w15 pointer" ng-click="moni.switchSort();">电视锁定时间↓↑</td><td class="w10">电视锁定百分比</td><td class="w30">操作</td>
        </tr>
        <tr ng-repeat="item in moni.monitorList">
            <td class="w5" ng-bind="$index+1"></td><td class="w10" ng-bind="item.nameCn"></td>
            <td ng-bind="item.subName"></td><td ng-bind="item.phone"></td>
            <td ng-bind="item.tvLockTime"></td><td ng-bind="item.tvLockPercent*100+'%'"></td>
            <td class="operate-btn">
                <a class="link-btn" ng-click="moni.updateTVClock(item);">修改电视锁</a>
                <a class="link-btn" ng-href="#monitor/rcu/{{item.id}}">查看RCU监控</a>
                <a class="link-btn" ng-href="#monitor/tv/{{item.id}}">查看电视监控</a>
            </td>
        </tr>
        </tbody>
    </table>
    <paging-bar page-action="moni.getMonitorList(param);" paging-param="moni.pagingParam"
                page-num="moni.pageNum" total-page="moni.totalPage"></paging-bar>
</div>
<div class="moni" ng-if="main.isSuper && moni.type==='rcu'">
    <title-bar title-name="RCU监控管理" show-search="false"></title-bar>
    <a class="back-btn link-btn" ng-click="moni.backListView();">返回</a>
    <table class="pl-table">
        <tbody>
        <tr class="title-tr">
            <td class="w5">序号</td><td class="w10">房间号</td><td class="w20">RCU设置时长(小时)</td>
            <td class="w15">已运行时间</td><td class="w15">离到期时间</td><td class="w15">操作</td>
        </tr>
        <tr ng-repeat="item in moni.rcuList">
            <td class="w5" ng-bind="$index+1"></td><td class="w10" ng-bind="item.roomNum"></td>
            <td ng-bind="item.limitedTime"></td><td ng-bind="item.runningTime"></td>
            <td ng-bind="item.expireTime"></td>
            <td class="operate-btn">
                <a class="link-btn" ng-if="item.id!=0" ng-click="moni.updateRCU(item);">修改RCU设置时长</a>
            </td>
        </tr>
        </tbody>
    </table>
    <paging-bar page-action="moni.getRCUList(param);" paging-param="moni.pagingParam"
                page-num="moni.pageNum" total-page="moni.totalPage"></paging-bar>
</div>
<div class="moni" ng-if="main.isSuper && moni.type==='tv'">
    <title-bar title-name="电视监控管理" show-search="false"></title-bar>
    <a class="back-btn link-btn" ng-click="moni.backListView();">返回</a>
    <div class="hotel-info">
        <label class="text">酒店品牌:</label><label class="text-value" ng-bind="moni.hotelInfo.brandName"></label>
        <label class="text">酒店名称:</label><label class="text-value" ng-bind="moni.hotelInfo.hotelName"></label>
        <label class="text">电视型号:</label><label class="text-value" ng-bind="moni.hotelInfo.tvModel"></label>
    </div>
    <table class="pl-table">
        <tbody>
        <tr class="title-tr">
            <td class="w5">序号</td><td class="w20 pointer"
                                      ng-click="moni.switchTvSort('orderBy', 'room_num');">房间号↓↑</td>
            <td class="w20 pointer" ng-click="moni.switchTvSort('orderBy', 'cur_version');">当前版本↓↑</td>
            <td class="w20 pointer" ng-click="moni.switchTvSort('orderBy', 'modify_time');">最后开机时间↓↑</td>
        </tr>
        <tr ng-repeat="item in moni.tvList">
            <td class="w5" ng-bind="$index+1"></td><td class="w20" ng-bind="item.roomNum"></td>
            <td ng-bind="item.curVersion"></td><td ng-bind="item.lastPowerOnTime"></td>
        </tr>
        </tbody>
    </table>
    <paging-bar page-action="moni.getTVVersionList(param);" paging-param="moni.pagingParam"
                page-num="moni.pageNum" total-page="moni.totalPage"></paging-bar>
</div>
