<div class="moni" ng-if="(main.isSuper || main.isHotelAdmin) && moni.type==='list'">
    <div class="list-search-area">
        <select class="search-select" ng-model="moni.hotelName" ng-change="moni.changeMonitorList();"
                ng-if="main.isSuper" ng-options="s.id.toString() as s.nameCn for s in moni.brandList">
            <option value="" selected="selected">全部品牌</option>
        </select>
        <select class="search-select" ng-model="moni.conditProv" ng-change="moni.changeMonitorList();"
                ng-options="s.id.toString() as s.name for s in moni.provList">
            <option value="" selected="selected">全部省份</option>
        </select>
    </div>
    <title-bar title-name="监控管理" show-search="true" search-place-holder="输入酒店名称"
               search-content="moni.condition" search-handler="moni.changeMonitorList(content);"></title-bar>
    <div class="gird-wrap">
        <table class="pl-table" tip>
            <tbody>
            <tr class="title-tr">
                <td class="w5">序号</td><td class="w8">酒店品牌</td><td class="w15">酒店名称</td>
                <td class="w15">酒店电话</td>
                <td class="w15 pointer"
                    ng-click="moni.switchSort('monitor', 'orderBy', 'tv_lock_time');">电视锁定时间↓↑</td>
                <td class="w10">电视锁定百分比</td><td class="w30">操作</td>
            </tr>
            <tr ng-repeat="item in moni.monitorList">
                <td class="w5" ng-bind="$index+1"></td><td class="w10" ng-bind="item.nameCn"></td>
                <td ng-bind="item.subName"></td><td ng-bind="item.phone"></td>
                <td ng-bind="item.tvLockTime"></td><td ng-bind="item.tvLockPercent*100+'%'"></td>
                <td class="operate-btn">
                    <a class="link-btn" ng-click="moni.updateTVClock(item);">修改电视锁</a>
                    <a class="link-btn" ng-href="#monitor/rcu/{{item.id}}">查看RCU监控</a>
                    <a class="link-btn" ng-href="#monitor/tv/{{item.id}}">查看电视监控</a>
                </td>
            </tr>
            </tbody>
        </table>
        <paging-bar page-action="moni.getMonitorList(param);" paging-param="moni.pagingParam"
                    page-num="moni.pageNum" page-size="moni.pageSize" total-page="moni.totalPage"></paging-bar>
    </div>
</div>
<div class="moni" ng-if="(main.isSuper || main.isHotelAdmin) && moni.type==='rcu'">
    <div class="list-search-area">
        <a class="blue-btn" ng-href="api/monitor/exportRcuData?hotelId={{moni.param}}">导出</a>
    </div>
    <title-bar title-name="RCU监控管理" show-search="false"></title-bar>
    <a class="back-btn link-btn" ng-click="moni.backListView();">返回</a>
    <div class="gird-wrap">
        <div class="hotel-info">
            <label class="text">酒店品牌:</label><label class="text-value" ng-bind="moni.hotelInfo.brandName"></label>
            <label class="text">酒店名称:</label><label class="text-value" ng-bind="moni.hotelInfo.hotelName"></label>
            <label class="text">本地时间:</label><label class="text-value" ng-bind="moni.curTime"></label>
        </div>
        <table class="pl-table">
            <tbody>
            <tr class="title-tr">
                <td class="w5">
                    <input type="checkbox" class="vl" ng-model="moni.isSelectAll" ng-click="moni.selectAll();"/>序号
                </td>
                <td class="w10 pointer" ng-click="moni.switchSort('rcu', 'orderBy', 'room_num');">房间号↓↑</td>
                <td class="w20">设置运行时长</td>
                <td class="20 pointer" ng-click="moni.switchSort('rcu', 'orderBy', 'conf_time');">RCU设置时长(小时)↓↑</td>
                <td class="w15 pointer" ng-click="moni.switchSort('rcu', 'orderBy', 'running_time');">已运行时间↓↑</td>
                <td class="w15">离到期时间</td>
            </tr>
            <tr ng-repeat="item in moni.rcuList">
                <td class="w5">
                    <input type="checkbox" class="vl" ng-model="item.isSelect" ng-click="moni.select(item);"/>
                    <span  class="vl" ng-bind="$index+1"></span>
                </td>
                <td class="w10" ng-bind="item.roomNum"></td><td ng-bind="item.limitedTime"></td>
                <td ng-bind="item.confTime"></td><td ng-bind="item.runningTime"></td>
                <td ng-bind="item.expireTime"></td>
            </tr>
            </tbody>
        </table>
        <paging-bar page-action="moni.getRCUList(param);" paging-param="moni.pagingParam"
                    page-num="moni.pageNum" page-size="moni.pageSize" total-page="moni.totalPage"></paging-bar>
        <a class="blue-btn update-rcu-btn" ng-click="moni.updateRCU();">修改RCU设置时长</a>
    </div>
</div>
<div class="moni" ng-if="(main.isSuper || main.isHotelAdmin) && moni.type==='tv'">
    <title-bar title-name="电视监控管理" show-search="false"></title-bar>
    <a class="back-btn link-btn" ng-click="moni.backListView();">返回</a>
    <div class="gird-wrap">
    <div class="hotel-info">
        <label class="text">酒店品牌:</label><label class="text-value" ng-bind="moni.hotelInfo.brandName"></label>
        <label class="text">酒店名称:</label><label class="text-value" ng-bind="moni.hotelInfo.hotelName"></label>
        <label class="text">电视型号:</label><label class="text-value" ng-bind="moni.hotelInfo.tvModel"></label>
    </div>
    <table class="pl-table">
        <tbody>
        <tr class="title-tr">
            <td class="w5">序号</td><td class="w20 pointer"
                                      ng-click="moni.switchSort('tv', 'orderBy', 'room_num');">房间号↓↑</td>
            <td class="w20 pointer" ng-click="moni.switchSort('tv', 'orderBy', 'cur_version');">当前版本↓↑</td>
            <td class="w20 pointer" ng-click="moni.switchSort('tv', 'orderBy', 'modify_time');">最后开机时间↓↑</td>
        </tr>
        <tr ng-repeat="item in moni.tvList">
            <td class="w5" ng-bind="$index+1"></td><td class="w20" ng-bind="item.roomNum"></td>
            <td ng-bind="item.curVersion"></td><td ng-bind="item.lastPowerOnTime"></td>
        </tr>
        </tbody>
    </table>
    <paging-bar page-action="moni.getTVVersionList(param);" paging-param="moni.pagingParam"
                page-num="moni.pageNum" page-size="moni.pageSize" total-page="moni.totalPage"></paging-bar>
    </div>
</div>
