<div class="telvision" ng-if="!telv.isEdit">
    <title-bar title-name="影视片管理" show-search="true" search-place-holder="输入地区、名称、导演"
               search-handler="telv.getMovieListBySearch(content);"></title-bar>
    <table class="pl-table" tip>
        <tbody>
        <tr class="title-tr">
            <td class="w10">序号</td><td class="w15">名称</td><td class="w10">影片路径</td><td class="w10">类别</td>
            <td class="w10">类型</td><td class="w10">地区</td><td class="w10">导演</td><td class="w10">上映年份</td>
            <td class="w10">操作</td>
        </tr>
        <tr ng-repeat="item in telv.movieList">
            <td ng-bind="$index + 1"></td><td ng-bind="item.nameCn"></td><td ng-bind="item.path"></td>
            <td ng-bind="item.firstClass"></td><td ng-bind="item.secondClass"></td><td ng-bind="item.area"></td>
            <td ng-bind="item.direct"></td><td ng-bind="item.showYear"></td>
            <td class="operate-btn">
                <a class="link-btn" ng-click="telv.editMovie(item);">编辑</a><a class="link-btn" ng-click="telv.deleteMovie(item.id);">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <paging-bar page-action="telv.getMovieList(param);" total-page="telv.totalPage" paging-param="telv.pagingParam"
                page-num="telv.pageNum" is-show-add-btn="true" add-list-item="telv.addNewMovie();"></paging-bar>
</div>
<div class="room" ng-if="telv.isEdit">
    <title-bar title-name="添加影视片信息" ng-if="telv.operate==='add'" show-search="false"></title-bar>
    <title-bar title-name="影视片信息修改" ng-if="telv.operate==='update'" show-search="false"></title-bar>
    <form name="telvForm" class="pl-form telv-form">
        <div class="form-item">
            <label class="form-key">名称:</label>
            <input class="form-value" name="nameCn" type="text" ng-model="telv.movie.nameCn" required/>
            <span class="valid-msg" ng-show="telv.isSubmit && telvForm.hotel.$invalid">请输入名称</span>
        </div>
        <div class="form-item">
            <label class="form-key">英文名称:</label>
            <input class="form-value" name="nameEn" type="text" ng-model="telv.movie.nameEn" ng-pattern="/^([a-zA-Z]|\s)*[a-zA-Z]+([a-zA-Z]|\s)*$/"/>
            <span class="valid-msg" ng-show="telv.isSubmit && telvForm.nameEn.$invalid">请输入英文名称</span>
        </div>
        <div class="form-item">
            <label class="form-key">类别:</label>
            <label class="form-value" ng-bind="telv.movie.firstClass"></label>
        </div>
        <div class="form-item">
            <label class="form-key">类型:</label>
            <input class="form-value" name="secondClass" type="text" placeholder="如喜剧或者爱情或者喜剧/爱情" ng-model="telv.movie.secondClass" required/>
            <span class="valid-msg" ng-show="telv.isSubmit && telvForm.secondClass.$invalid">请输入类型</span>
        </div>
        <div class="form-item">
            <label class="form-key">地区:</label>
            <input class="form-value" name="area" type="text" ng-model="telv.movie.area" required/>
            <span class="valid-msg" ng-show="telv.isSubmit && telvForm.area.$invalid">请输入地区</span>
        </div>
        <div class="form-item">
            <label class="form-key">上映年份:</label>
            <input class="form-value" name="showYear" type="text" ng-model="telv.movie.showYear" ng-pattern="/^\d{4}$/" required/>
            <span class="valid-msg" ng-show="telv.isSubmit && telvForm.showYear.$invalid">请输入正确的上映年份</span>
        </div>
        <div class="form-item">
            <label class="form-key">导演:</label>
            <input class="form-value" name="direct" type="text" ng-model="telv.movie.direct" required/>
            <span class="valid-msg" ng-show="telv.isSubmit && telvForm.direct.$invalid">请输入导演</span>
        </div>
        <div class="form-item">
            <label class="form-key">语言:</label>
            <input class="form-value" type="text" ng-model="telv.movie.movieLan" />
        </div>
        <div class="form-item">
            <label class="form-key">时长:</label>
            <input class="form-value" name="timeLength" type="text" ng-model="telv.movie.timeLength" ng-pattern="/^\d+$/" required/>
            <span class="valid-msg" ng-show="telv.isSubmit && telvForm.timeLength.$invalid">请输入正确的时长</span>
        </div>
        <div class="form-item">
            <label class="form-key">集数:</label>
            <input class="form-value" type="text" ng-model="telv.movie.setNum" />
        </div>
        <div class="form-item">
            <label class="form-key">简介:</label>
            <textarea class="form-value" ng-model="telv.movie.intro"></textarea>
        </div>
        <div class="form-item">
            <label class="form-key">影片路径:</label>
            <input class="form-value" name="path" type="text" ng-model="telv.movie.path" required/>
            <span class="valid-msg" ng-show="telv.isSubmit && telvForm.path.$invalid">请输入影片路径</span>
        </div>
        <!--<div class="form-item">
            <label class="form-value upload1">
                <upload server-path="" context=".upload1" upload-file=""
                        uploader="telv.uploader" preview-title="海报图片"></upload>
            </label>
            <label class="form-value upload2">
                <upload server-path="" context=".upload2" upload-file=""
                        uploader="telv.uploaderSmall" preview-title="剧情图片"></upload>
            </label>
        </div>-->
        <div class="operate-btn-area">
            <div class="operate-btn blue-btn" ng-click="telv.save(telvForm.$valid, telv.movie);">确定</div>
            <div class="operate-btn gray-btn" ng-click="telv.backListView();">返回</div>
        </div>
    </form>
</div>