<div class="tvChannel" ng-if="!main.isSuper && !tv.isEdit">
    <title-bar title-name="频道管理" show-search="false"></title-bar>
    <a class="back-btn link-btn" ng-href="#tv/Two/{{tv.secondParentId}}">返回上一级</a>
    <div class="gird-wrap">
        <table class="pl-table">
            <tbody>
            <tr class="title-tr">
                <td class="w10">序号</td><td class="w20">频道名称</td><td class="w20">英文名称</td><td class="w10">频道序号</td>
                <td class="w20" ng-if="tv.serviceType !== 'AMIBITUSCOLLECT'">服务类型</td><td class="w15">操作</td>
            </tr>
            <tr ng-repeat="item in tv.channels">
                <td class="w10" ng-bind="$index + 1"></td><td class="w20" ng-bind="item.nameCn"></td>
                <td ng-bind="item.nameEn"></td><td ng-bind="item.orderNum"></td>
                <td ng-if="tv.serviceType !== 'AMIBITUSCOLLECT'" ng-bind="item.serviceTypeCn"></td>
                <td class="operate-btn">
                    <a class="link-btn" ng-click="tv.editChannel(item);">编辑</a>
                    <a class="link-btn" ng-click="tv.deleteChannel(item.id);">删除</a>
                    <a class="link-btn" ng-href="#tv/Four/{{item.id}}"
                       ng-if="tv.serviceType === 'AMIBITUSCOLLECT'">查看子频道</a>
                </td>
            </tr>
            </tbody>
        </table>
        <paging-bar page-action="tv.getTvChannels(param);" is-show-add-btn="true" add-list-item="tv.addChannel();"
                    page-num="tv.pageNum" page-size="tv.pageSize" paging-param="tv.pagingParam"
                    total-page="tv.totalPage"></paging-bar>
    </div>
</div>
<div class="tvChannel" ng-if="!main.isSuper && tv.isEdit">
    <title-bar title-name="添加频道信息" ng-if="tv.channelOperate==='add'" show-search="false"></title-bar>
    <title-bar title-name="频道信息修改" ng-if="tv.channelOperate==='update'" show-search="false"></title-bar>
    <form name="channelForm" class="pl-form room-form">
        <div class="form-item">
            <label class="form-key">频道名称:</label>
            <input class="form-value" name="nameCn" type="text" ng-model="tv.curChannel.nameCn" required/>
            <span class="valid-msg" ng-show="tv.isSubmit && channelForm.nameCn.$invalid">请输入频道名称</span>
        </div>
        <div class="form-item">
            <label class="form-key">英文名称:</label>
            <input class="form-value" name="nameEn" type="text" ng-model="tv.curChannel.nameEn"
                   ng-pattern="/^([a-zA-Z]|\s)*[a-zA-Z]+([a-zA-Z]|\s)*$/" required/>
            <span class="valid-msg" ng-show="tv.isSubmit && channelForm.nameEn.$invalid">请输入英文名称</span>
        </div>
        <div class="form-item">
            <label class="form-key">频道序号:</label>
            <input class="form-value" name="orderNum" type="text" ng-model="tv.curChannel.orderNum"
                   ng-pattern="/^\d{1,4}$/" required/>
            <span class="valid-msg" ng-show="tv.isSubmit && channelForm.orderNum.$invalid">请输入正确的序号，正整数,最多4位</span>
        </div>
        <div class="form-item" ng-if="tv.serviceType !== 'AMIBITUSCOLLECT'">
            <label class="form-key">服务类型:</label>
            <select class="form-value" name="serviceType" ng-model="tv.curChannel.serviceType" required>
                <option value="BILL">账单查询</option>
                <option value="CHECK_OUT">退房</option>
                <option value="SHOP">购物</option>
                <option value="WORD_CLOCK">世界时间</option>
                <option value="FLOWER">鲜花服务</option>
                <option value="CAR">租车服务</option>
                <option value="REQUEST">客人建议</option>
                <option value="FLIGHT">航班信息</option>
                <option value="PFHOTO">照片显示</option>
                <option value="INFO">图文展示</option>
                <option value="ANDROID">安卓系统</option>
                <option value="VIDEO">VOD点播</option>
                <option value="TV">电视节目</option>
                <option value="SHOPCAR">购物车</option>
                <option value="FILM">高清影院</option>
                <option value="PE">体育竞技</option>
                <option value="TELEPLAY">电视剧</option>
                <option value="WECHAT">微信互动</option>
                <option value="VALET">洗衣服务</option>
                <option value="ORDERING">订餐服务</option>
                <option value="VARIETY">综艺节目</option>
                <option value="DOCUMENTARY">纪录片</option>
                <option value="RESOURCE">资源搜索</option>
                <option value="NEWS">新闻资讯</option>
                <option value="EDUATION">教育频道</option>
                <option value="HOME">收藏之家</option>
                <option value="PLAY">播放记录</option>
                <option value="APP">应用下载</option>
                <option value="GOOUT">出去逛逛</option>
                <option value="GOTRAIN">送火车站</option>
                <option value="GOAIRPORT">送机场</option>
            </select>
            <span class="valid-msg" ng-show="tv.isSubmit && channelForm.serviceType.$invalid">请选择服务类型</span>
        </div>
        <div class="form-item">
            <label class="form-value channelUpload1">
                <upload server-path="tv.uploadPath" context=".channelUpload1" uploader="tv.channelUpload1"
                        preview-img="tv.curChannel.contentCn" preview-title="中文TXT" file-type="tv.fileType">

                </upload>
            </label>
            <label class="form-value channelUpload2">
                <upload server-path="tv.uploadPath" context=".channelUpload2" uploader="tv.channelUpload2"
                        preview-img="tv.curChannel.contentEn" preview-title="英文TXT" file-type="tv.fileType">

                </upload>
            </label>
        </div>
        <div class="form-item">
            <label class="form-value channelUpload3">
                <upload server-path="tv.uploadPath" context=".channelUpload3" uploader="tv.channelUpload3"
                        preview-img="tv.curChannel.img" preview-title="图片"></upload>
            </label>
        </div>
        <div class="operate-btn-area">
            <div class="operate-btn blue-btn" ng-click="tv.modifyChannel(channelForm.$valid, tv.curChannel);">确定</div>
            <div class="operate-btn gray-btn" ng-click="tv.backListView();">返回</div>
        </div>
    </form>
</div>